body
{
	margin:auto;

}
header
{
	background: green;
	overflow: hidden;
}
.top li
{
	display:inline;
	list-style: none;
	margin-top: 5px;
}
ul
{
	text-align: right;
}

a
{
	text-decoration: none;
}
.main
{
	margin-bottom: 5px;
}
.image
{
	margin: auto;
}
.secondary
{
	overflow: hidden;
}